@charset "UTF-8";

* {margin: 0; padding: 0; list-style: none; text-decoration: none; color: #222;}

.wrap {width: 1200px; height: 700px; margin: 0 auto; border: 1px solid #000;}

header {width: 1200px; height: 100px; }
.visual {width: 1200px; height: 300px; background: #3e525b;}
section {width: 1200px; height: 200px;}
footer {width: 1200px; height: 100px; background: #0868ca;}


/* header */
header h1 {width: 260px; height: 65px; float: left; margin: 20px;  }
header h1 img {width: 260px;}

header .gnb {width: 800px; height: 100px; float: right; }
header .gnb li {width: 200px; height: 100px; line-height: 100px; float: left; text-align: center;}
header .gnb li a {color: #0868ca; font-size: 24px; display: block; font-weight: bold;}

header .gnb li:hover {background: #0868ca;}
header .gnb li:hover a {color: #fff;}

header .gnb li .lnb {width: 200px; height: 0px; overflow: hidden; position: absolute; transition: 0.3s; z-index: 3;}
header .gnb:hover li .lnb {height: 180px;}

header .gnb li .lnb li {width: 200px; height: 60px; line-height: 60px;}

header .lnb_bg {width: 1200px; height: 0px; position: absolute; background: #183295; top: 100px; transition: 0.3s; z-index: 2;}
header .gnb:hover ~ .lnb_bg {height: 180px;}


/* visual */
.visual ul {width: 1200px; height: 300px;}
.visual ul li {width: 1200px; height: 300px; position: absolute; display: none;}


/* section */
section > div {width: 400px; height: 200px; float: left;}
section > div.gallery {}
section > div h2 {width: 100px; height: 35px; }
section > div ul {width: 400px; height: 160px; }

.notice li {width: 400px; height: 40px; line-height: 40px; border-bottom: 1px solid #ddd;}
.notice li .title {width: 280px; height: 40px; float: left; }
.notice li .date {width: 100px; height: 40px; float: right; }

.gallery li {width: 120px; height: 80px; float: left; background: #000; margin:20px 5px 0 5px;}
.gallery li img {width: 120px;}

.barogagi li {width: 400px; height: 40px; line-height: 40px; border-bottom: 1px solid #ddd;}
.barogagi li .icon {width: 40px; height: 40px; background: #0868ca; float: left;}
.barogagi li .icon img {width: 30px; margin: 5px;}

.barogagi li .title {width: 300px; height: 40px; float: left; margin-left: 20px;}


/* footer */
footer .copy {width: 800px; height: 60px; float: left; margin: 20px; color: #fff;}

footer .right_box {width: 200px; height: 100px; float: right; background: #000; margin-right: 20px;}

footer .right_box .sns {width: 120px; height: 40px; margin-top: 10px; float: right;}
footer .right_box .sns img {width: 35px;}

footer .right_box .family {width: 200px; height: 40px; float: right; margin-top: 10px;}

footer .right_box .family select {width: 200px; height: 40px; font-size: 18px}


/* popup */
.modal {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.5); display: none;}
.modal .popup {width: 400px; height: 300px; background: #fff; position: absolute; top: 200px; left: 600px; padding: 20px;}
.modal .popup h2 {background: #0868ca; color: #fff; height: 50px; line-height: 50px; text-align: center; margin-bottom: 20px;}
.modal .popup div {font-size: 20px;}
.modal .popup a {position: absolute; background: #08bbca; right: 20px; bottom: 20px; color: #fff; padding: 20px 40px;}
